.formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    font-family: sans-serif;

    input {
        padding: 5px;
        width: 100%;
        border-radius: 5px;
    }
}